<!DOCTYPE html>
<head>
    <title>Mazingira Tracker</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"> 
</head>
<body>
    <h1>Biodiversity Tracker</h1>
    <br>
    <p>This project seeks to raise awareness about the critical issue of biodiversity loss, a challenge that affects ecosystems, economies, and communities worldwide. 
     <br>
    By providing accessible information and resources, we aim to educate citizens about the importance of biodiversity and its direct impact on their local environments.
     <br>
    Through interactive tools and engaging content, we will empower individuals to better understand the diverse species and habitats around them. This knowledge will inspire them to make informed, conscious decisions that promote conservation and sustainability in their daily lives. Ultimately, our goal is to foster a sense of stewardship for the planet, encouraging actions that contribute to a healthier and more sustainable future for all. By connecting people to their environment, we can collectively work towards preserving biodiversity for generations to come.</p>
<br>
<img src="G:\Education\plp\FinalProject\Mazingira-Tracker\img\pexels-andreas-balg-782829182-20732435.jpg" >
<h2>Login</h2>
<form>
    <input type="email" id="email_address" name="email_address" required placeholder="Enter Email:">
    <br>
    <input type="password" id="password" required placeholder="Enter Password:">
    <br>
    <button type="submit">Login</button>
    <br>
    <a href="signup.html">New here?</a>
    <br>
</form>
<footer>
    Copyright &copy;2024
</footer>
<script src="/script.js"></script>
</body>
</html>