<!DOCTYPE html>
<html>
    <head>
        <title>Mazingira</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <h1>Welcome</h1>
        <form id="reg">
            <h2>Sign Up</h2>
            <input type="text" id="full_name" name="full_name" required placeholder="Enter Full Names:">
            <br>
            <input type="radio" id="male" name="gender" value="male" required> Male
            <input type="radio" id="female" name="gender" value="female" required> Female
            <br>
            <input type="date" id="dob" name="dob" required placeholder="Enter Date Of Birth:">
            <br>
            <input type="email" id="email_address" name="email_address" required placeholder="Enter Email:">
            <br>
            <input type="tel" id="phone_number" name="phone_number" minlength="10" required placeholder="Enter Phone:">
            <br>
            <input type="password" id="password_hash" name="password_hash" required placeholder="Enter Password:">
            <br>
            <input type="password" id="confirmPassword" name="confirmPassword" required placeholder="Confirm Password:">
            <br>
            <input type="text" id="address" name="address" required placeholder="Address:">
            <br>
            <label for="terms">Accept Terms and Conditions:</label>
            <input type="checkbox" id="terms" name="terms" value="1">
            <br>
            <button type="submit">Sign Up</button>
        </form>
        </div>
        <footer>
            Copyright &copy;2024
        </footer>
        <script src="/script.js"></script>
    </body>
</html>