<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mazingira Tracker</title>
 <link rel="stylesheet" href="public/css/species_styles.css">
</head>
<body>
  <h1>Mazingira Tracker</h1>
  <h2> Your Location </h2>
  <p><%= userLocation%></p>
  <button id="getLocationButton">Show Nearby Species</button>
  <div id="speciesResults"></div>
  <script src="/public/js/show_species.js"></script>
</body>

<footer>
    &copy; 2025 Mazingira Tracker
</footer>
</html>
